/* 通配 */
@font-face {
    font-family: 'XLWK';
    src: url('../font/LXGWWenKai-Medium.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MM';
    src: url('../font/MapleMono-NF-CN-Medium.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}
*{
    font-family: MM;
    margin: 0px;
    padding: 0px;
    transition: all 0.3s;
}
a{
    text-decoration: none;
    color: #ff4f7d;
}
.iconfont{
font-size: 1em;
}
body{
    background-image: url(../img/home_bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
/* 顶栏 */
.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 48px;
    background-color: #fafafacc;
    backdrop-filter: blur(1em);
    box-shadow: 0px 1px 5px #00000037;
    z-index: 999;
}
/* 导航栏 */
.hdr-nav{
    padding-left: 48px;
    width: 500px;
   
    /* background-color: aqua; */
}
/* 导航栏列表样式 */
.hdr-nav ul {
    list-style-type: none;
}
/* 一级菜单 */
.hdr-nav-ul.sup{
    height: 58px;
    display: flex;
    z-index: 110;
}
.hdr-nav-item.sup > a, .hdr-nav-item.sup > span{
    line-height: 48px;
    color: #333333;
    /* color: #ff4f7d; */
    font-size: 0.85rem;
    font-weight: 600;
    padding: 0 7px;
}
.hdr-nav-item.sup:hover > a,
.hdr-nav-item.sup:hover > span {
    /* color: #ff4f7d; */
    color: #81acd4;
    font-size: 0.9rem;
}
/* 二级菜单 */
.hdr-nav-ul.sub{
    opacity: 0;
    position: fixed;
    top: 55px;
    left: -500px;
    background-color: #ffffff;
    border: 1px solid rgba(114, 114, 114, 0.3);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.322);
    border-radius: 20px;
    width: 350px;
    height: auto;
    padding: 7px;
    z-index: 100;
    transition: 0.7s;
}
.hdr-nav-item.sup:hover .hdr-nav-ul.sub {
    /* left: 40px; */
    opacity: 1;
}
.hdr-nav-item.sup:hover:first-child .hdr-nav-ul.sub {
    left: 40px;
    opacity: 1;
}
.hdr-nav-item.sup:hover:nth-child(2) .hdr-nav-ul.sub {
    left: 115px;
    opacity: 1;
}
.hdr-nav-item.sup:hover:nth-child(3) .hdr-nav-ul.sub {
    left: 195px;
    opacity: 1;
}
    /* 二级菜单项 */
.hdr-nav-item.sub{
    padding: 7px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 16px;
    /* background-color: #ff4f7d; */
    
}
.hdr-nav-item.sub:hover{
    background-color: #e2f0fbe8;
}
.hdr-nav-item.sub > a{
    width: 100%;
    color: #333333;
    font-weight: 600;
    font-size: 16px;

    /* background-color: #ff4f7d; */
}
.hdr-nav-item.sub:hover >a {
    color: #689fc5;
}
.hdr-nav-item.sub a > i{
    margin-right: 10px;
    font-weight: 500;
    padding: 5px;
    background-color: #f3f3f3;
    border-radius: 10px;
    /* background-color: #ff4f7d; */

}
.hdr-nav-item.sub:hover a>i {
    background-color: #d4e3ed;
}

/* 三级菜单 */
.hdr-nav-ul.sub-sub{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.hdr-nav-item.sub-sub {
    display: flex;
    width: 50%;
    height: 40px;

}
.hdr-nav-item.sub-sub a{
    /* background-color: #689fc5; */
    width: 143px;
    border-radius: 12px;
    padding-left: 36px;
    line-height: 40px;
    color: #686868;
    font-weight: 400;
}
.hdr-nav-item.sub-sub a:hover {
    color: #6e9fc2;
    background-color: #d8e5f1;
}
.hdr-nav-item.sub:hover .hdr-nav-item.sub-sub a{
    transform: translateY(1.5px);
}
/* LOGO */
.hdr-logo img{
    margin:  auto;
    width: 48px;
    /* animation: logo 5s linear infinite; */
}

.hdr-logo:hover img{
    transform:scale(1.1);
    filter: blur(5px);
    transition: ease 0.6s;
}
.hdr-logo i{
    opacity: 0;
    position: fixed;
    top: -30px;
    font-size: 25px;
    transform: translate(-36.5px, -1px);
    text-shadow: 0 0 5px #ffffff;
    color: #ffffff;
        transition: ease 0.6s;
}
.hdr-logo:hover i{
    opacity: 1;
    top: 12px;

}
/* @keyframes logo{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} */
/* 菜单 */
.hdr-menu{
    padding-right: 48px;
    width: 500px;
    /* background-color: aqua; */
}

/* 遮罩 */
.body-shadow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffffc7;
    backdrop-filter: blur(01px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.body-shadow.dspl {
    display: block;
    opacity: 1;
    visibility: visible;
}
/* 脚页 */
.footer {
    display: flex;
    width:100vw;
    justify-content: space-between;
    padding:24px 40px ;
    background-color: #fafafa;
    box-shadow: 0 -1px 10px #ffffff;
        /* 包含 padding 和 border 在内的宽度计算 */
}
.footer .copyright,.footer .copyright a{
    font-size: 12px;
    color: #a4a4a4cc;
}

.footer .copyright a:hover{
    color: #ff4f7d;
}
.footer .power a{
    color: #666666;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 11px;
    line-height: 20px;
    filter: grayscale(1) opacity(0.5)}
.footer .power a:hover{
    filter: grayscale(0) opacity(1);
    color: #81acd4;
}
.footer .power img{
    height: 20px;
}

.post-item{
    margin: 10px;
    background-color: aquamarine;
}
